body {
	background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTpRLeWkGKn4K_MnKkBiPC4m1Qg3poTKZhoRYRTDPoOIw0oriIe);
	background-size: cover;
	background-repeat: repeat;
	background-position: center;
}

html	{
	height: 100%;
}

hr	{
	width: 400px;
	border-top: 1px solid #343a40;
	border-bottom: 1px solid rgba(0,0,0,0.2)
}

h3	{
	font-family: "Baloo Chettan 2";
	font-weight: 400;
}

.btn {
	color: #007bff;
	border: #343a40;
}

a:hover {
  color: #ffffff;
  text-decoration: underline;
}

#hamburger-icon{
	color: #343a40;
}
h1	{
	font-weight: 700;
	font-size: 3em;
}
#content {
	text-align: center;
	padding-top: 25%;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.1),
				 2px 2px 1px rgba(0,0,0,0.1);				
}